<p id="notice"><%= notice %></p>

<h4><b>COMPANIES</b></h4>
<%= link_to "Register business", new_business_path %>
<br>
<div class="row">  
  <% @businesses.each do |business| %>
    <div class="col s12 m6 l3">
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <center><%= image_tag ('/logo.png'), class: 'logoindex' %></center>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h4 class="card-title"><strong><%= business.name %></strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong><%= business.website %></strong></h5>
          <!-- Text -->
          <p class="card-text"><%= business.email %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
