<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @business.logo.url(:small) %>
</p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Representative:</b>

  <%= @business.representative_name %>
</p>

<p>
  <b>Website:</b>
  <%= @business.website %>
</p>

<p>
  <b>Secret:</b>
  <%= @business.secret %>
</p>

<p>
  <b>Address:</b>
  <%= @business.street %>
  <%= @business.city %>
</p>

<p>
  <b>Contact:</b><br />
  <%= @business.phone %><br />
  <%= @business.email %><br />
  <%= @business.website %><br />
</p>

<% if current_user == @business.user_id %>
  <%= link_to 'Edit', edit_business_path(@business) %>
<% end %>