<center>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="product-form">
  <h4><b><%= I18n.t "register" %></b></h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, placeholder: 'Email', label: false, required: true, autofocus: true %><br />
      <%= f.input :secret, placeholder: I18n.t('secret'), label: false, required: true, autofocus: true %>
      <span style="color:#888787;font-size:12px;"><%= I18n.t "secret-reason" %></span>
      <br /><br />
      <%= f.input :password, placeholder: I18n.t('password'), label: false, required: true %>
      <span style="color:#888787;font-size:12px;"><%= I18n.t "mincharacters" %></span>
      <br /><br />
      <%= f.input :password_confirmation, placeholder: I18n.t('confirmpassword'), label: false, required: true %><br />
    </div>

    <div class="form-actions">
      <%= f.submit I18n.t('createaccount'), class: 'button' %><br /><br />

    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</center>