
<center>
  <div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;margin-top:20px" class="speaker-form">
    <h1>Nyt program</h1><br />


    <%= simple_form_for(@program) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.hidden_field :user_id, :value=> current_user.id  %>

      <div class="mobileHide">

        Denne siden er ikke mobilsklar ennå.

      </div>


      <div class="desktopHide">
        <div class="form-inputs">
          <%= f.input :name, placeholder: 'Tittel', label: false, class: "form-control" %><br />
          <%= f.text_area :description, placeholder: 'Om programmet', label: false, :rows => 7, class: "form-control" %><br />
          <%= f.input :place, placeholder: 'Location', label: false, class: "form-control" %><br />
          <%= f.input :sorting, placeholder: 'Sortering', label: false, class: "form-control" %><br />
          <strong>Program Billede:</strong><br /><%= f.file_field :image %><br />

          <div class="form-inputs">
            <div class="row">
              <div class="col-md-4 col-xs-6">

                <div class="box2">
                <%= text_field_tag("program[startday]", value = @program.startday, html_options = { class: 'form-control datepicker', placeholder: 'Velg dato' }) %>
                </div>
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="box2">
                  <%= text_field_tag("program[starttime]", value = @program.starttime&.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'Velg starttid' }) %>
                </div>
              </div>

              <div class="col-md-4 col-xs-6">
                <div class="box2">
                  <%= text_field_tag("program[endtime]", value = @program.endtime&.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'Velg sluttid' }) %>
                </div>
              </div>
            </div>
          </div>

          <%= f.input :speaker_name, placeholder: 'Speaker Navn', label: false, class: "form-control" %><br />
          <%= f.text_area :speaker_about, placeholder: 'Om Speakeren', label: false, :rows => 5, class: "form-control" %><br />
          <strong>Speaker Billede:</strong><br /><%= f.file_field :speaker_image %><br />


        </div>
        <div class="form-actions">
          <%= f.submit "Opret Program", class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</center>
