<center>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="property-form">

  <%= form_with(model: lead, local: true) do |form| %>
    <% if lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

        <ul>
        <% lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.number_field :user_id  %>

    <div class="field">
      <%= form.text_field :first_name, placeholder: 'First Name', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :last_name, placeholder: 'Last name', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :secret %>
    </div>

    <div class="field">
      <%= form.text_field :email, placeholder: 'Email', label: false %>
    </div><br />
    
    <div class="field">
      <%= form.text_field :phone, placeholder: 'Phone', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :city, placeholder: 'City', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :property, placeholder: 'Property', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :deadline, placeholder: 'Deadline', label: false %>
      <%= form.text_field :purpose, placeholder: 'Purpose', label: false %>
      <%= form.text_field :category, placeholder: 'Category', label: false %>
      <%= form.text_field :category_type, placeholder: 'Property type', label: false %>
      <%= form.text_field :price_filter, placeholder: 'Price_filter', label: false %>
      <%= form.text_field :budget, placeholder: 'Budget', label: false %>
      <%= form.text_field :area, placeholder: 'Area', label: false %>
      <%= form.text_field :cityarea, placeholder: 'Area', label: false %>
      <%= form.text_field :pet, placeholder: 'Pet', label: false %>
    </div><br />

    <div class="actions">
      <%= form.submit "Register lead", class: 'waves-effect waves-light btn-large' %>
    </div>

  <% end %>
</div>
</center>