<center>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="property-form">

  <%= form_with(model: lead, local: true) do |form| %>
    <% if lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

        <ul>
        <% lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.hidden_field :user_id, :value=> current_user.id  %>

    <div class="field">
      <%= form.text_field :first_name, placeholder: 'First Name', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :last_name, placeholder: 'Last name', label: false %>
    </div><br />

    <div class="field">
      <%= form.hidden_field :secret, :value=> current_user.secret %>
    </div>

    <div class="field">
      <%= form.text_field :email, placeholder: 'Email', label: false %>
    </div><br />
    
    <div class="field">
      <%= form.text_field :phone, placeholder: 'Phone', label: false %>
    </div><br />

    <div class="field">
      <%= form.text_field :city, placeholder: 'City', label: false %>
    </div><br />

    Select property:

    <%= form.select :property_id,  Property.all.map{ |m| [m.address,m.id]}, {}, placeholder: "Select property", class: "chosen-select form-control" %><br />

    <div class="actions">
      <%= form.submit "Register lead", class: 'waves-effect waves-light btn-large' %>
    </div>

  <% end %>
</div>
</center>