<br /><br />
<center>What date and time do you wish to see  <%= @lead.product %>?</center>
<br /><br />
<%= form_with(model: @lead, local: true) do |f| %>


  <center>
    <div class="ex1">  
      <table>
        <thead>
            <tr>
              <th id="item_direction" style="padding-right: 25px;"><span id="day1"><%= Date.today.strftime("%d/%m") %></</th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day2"><%= (Date.today + 1.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day3"><%= (Date.today + 2.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day4"><%= (Date.today + 3.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day5"><%= (Date.today + 4.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day6"><%= (Date.today + 5.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day7"><%= (Date.today + 6.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day8"><%= (Date.today + 7.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day9"><%= (Date.today + 8.days).strftime("%d/%m") %></th>
              <th id="item_direction" style="padding-right: 25px;"><span id="day10"><%= (Date.today + 9.days).strftime("%d/%m") %></th>
            </tr>
        </thead>
      </table>
    </div>
    <div style="position: inline;margin-bottom: 25px;">
      <div style="float:left;"><</div>
      <div style="float:right;">></div>
    </div>

    <div id="1" class="close2">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date.today? %>
          <label class="btn btn-primary box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday">Today</span>
          </label>
        <% end %>
      <% end %>
    </div>

    <div id="2" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 1.days %>
          <label class="btn btn-primary box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday" style="margin-left: -6px;">Tomorrow</span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="3" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 2.days %>
          <label class="btn btn-primary box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 2.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="4" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 3.days %>
          <label class="btn btn-primary box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 3.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="5" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 4.days %>
          <label class="btn btn-primary box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 4.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="6" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 5.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 5.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="7" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 6.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 6.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="8" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 7.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 7.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="9" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 8.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 8.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>  

    <div id="10" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 9.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 9.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>


    <div id="10" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 10.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 9.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>


    <div id="10" class="close2" style="display: none;">
      <% Slot.all.each do |sl| %>
        <% if sl.date.to_date == Date.today + 11.days %>
          <label class="btn2 btn3 box3" for="lead_slot_id_<%=sl.id%>">
            <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
            <%= sl.time.strftime('%H:%M') %><br />
            <span class="weekday"><%= (Date.today + 9.days).strftime("%b %d") %></span>
          </label>
        <% end %>
      <% end %>
    </div>
  </center>
<% end %>

<script> 
$(document).ready(function(){
    $('#day1').click(function(){
       $(".close2").not("#1").fadeOut(800);
       $("#1").fadeToggle(2000);
    });

    $('#day2').click(function(){
       $(".close2").not("#2").fadeOut(800);
       $("#2").fadeToggle(2000);
    });

    $('#day3').click(function(){
       $(".close2").not("#3").fadeOut(800);
       $("#3").fadeToggle(2000);
    });

    $("#day4").click(function(){
       $(".close2").not("#4").fadeOut(800);
        $("#4").fadeToggle("slow");
    });
    $("#day5").click(function(){
       $(".close2").not("#5").fadeOut(800);
        $("#5").fadeToggle("slow");
    });
    $("#day6").click(function(){
       $(".close2").not("#6").fadeOut(800);
        $("#6").fadeToggle("slow");
    });
    $("#day7").click(function(){
       $(".close2").not("#7").fadeOut(800);
        $("#7").fadeToggle("slow");
    });
    $("#day8").click(function(){
       $(".close2").not("#8").fadeOut(800);
        $("#8").fadeToggle("slow");
    });
    $("#day9").click(function(){
       $(".close2").not("#9").fadeOut(800);
        $("#9").fadeToggle("slow");
    });
    $("#day10").click(function(){
       $(".close2").not("#10").fadeOut(800);
        $("#10").fadeToggle("slow");
    });
    $("#day11").click(function(){
       $(".close2").not("#11").fadeOut(800);
        $("#11").fadeToggle("slow");
    });
});
</script>