<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<div class="desktopHide">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= I18n.t "name" %></th>
        <th>Email</th>
        <th>Tidsrum</th>
        <th>Formål</th>
        <th>Budget</th>
        <th>Område</th>
        <th>Kæledyr</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <% if lead.user_id == 10 %>
          <td><%= lead.id %></td>
          <td>Skjult</td>
          <td>Skjult</td>
          <td><%= lead.deadline %></td>
          <td><%= lead.purpose %></td>
          <td><%= lead.budget %></td>
          <td><%= lead.cityarea %></td>
          <td><%= lead.area %></td>
          <td><%= lead.pet %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="mobileHide">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= I18n.t "name" %></th>
        <th>Email</th>
        <th>Tidsrum</th>
        <th>Formål</th>
        <th>Budget</th>
        <th>Bydel</th>
        <th>Område</th>
        <th>Kæledyr</th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <% if lead.user_id == 10 %>
          <td>Skjult</td>
          <td>Skjult</td>
          <td><%= lead.deadline %></td>
          <td><%= lead.purpose %></td>
          <td><%= lead.budget %></td>
          <td><%= lead.cityarea %></td>
          <td><%= lead.area %></td>
          <td><%= lead.pet %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>