<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Navn</th>
      <th>Ejendom</th>
      <th>Dato</th>
      <th>Tid</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <% if current_user.secret == lead.secret? %>
        <td><%= lead.id %></td>
        <td><%= lead.first_name %> <%= lead.last_name %></td>
        <td><%= lead.property %></td>
        <td><%= lead.slot.date.strftime('%d/%m') %></td>
        <td><%= lead.slot.time.strftime('%H:%M') %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.email %></td>
        <td><%= lead.city %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nyt Lead', new_lead_path %>
