<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @lead.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @lead.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @lead.gender %>
</p>

<p>
  <strong>Source:</strong>
  <%= @lead.source %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @lead.locale %>
</p>

<p>
  <strong>Profile pic url:</strong>
  <%= @lead.profile_pic_url %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @lead.timezone %>
</p>

<p>
  <strong>Messenger user:</strong>
  <%= @lead.messenger_user_id %>
</p>

<p>
  <strong>Chatfuel user:</strong>
  <%= @lead.chatfuel_user_id %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @lead.ref %>
</p>

<p>
  <strong>Country:</strong>
  <%= @lead.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @lead.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @lead.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lead.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @lead.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @lead.longitude %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @lead.map_url %>
</p>

<p>
  <strong>Last visited block name:</strong>
  <%= @lead.last_visited_block_name %>
</p>

<p>
  <strong>Last visited block:</strong>
  <%= @lead.last_visited_block_id %>
</p>

<p>
  <strong>Last clicked button name:</strong>
  <%= @lead.last_clicked_button_name %>
</p>

<p>
  <strong>Last user freeform input:</strong>
  <%= @lead.last_user_freeform_input %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>

