<div style="font-size:18px;text-align: center;padding-top:20px;">
<p>
  <%= I18n.t "great" %> <%= @lead.first_name %>!
</p>
<br />
<%= I18n.t "viewingconfirmed" %> <strong><%= @lead.address %></strong> at <strong><%= @lead.slot.date.strftime('%A, %b %y') %>, <%= @lead.slot.time.strftime('%I %p') %></strong>

<br /><br />
We will confirm with you in the morning of <strong><%= @lead.slot.date.strftime('%A %d/%m') %></strong>.
