<center>
  <div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;margin-top:20px" class="speaker-form">
    <h1>Nyt event</h1><br />
    <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.hidden_field :user_id, :value=> current_user.id  %>
      <div class="mobileHide">
        Denne side er ikke mobilsklar.
      </div>

      <div class="desktopHide">
        <div class="form-inputs">
          <div class="row" style="width:90%">
            <div class="col-xs-6">
              <%= f.input :name, placeholder: 'Navn på eventet', label: false %><br /><br />
              <%= f.input :ticket, placeholder: 'Link til billett kjøp (valgfri)', label: false %>
                </div>
                <div class="col-xs-6">
              <%= f.input :address, placeholder: 'Adresse', label: false %><br /><br />
              <strong>Program Billede (500x260px):</strong><br /><%= f.file_field :image %><br />
            </div>
          </div>
        </div>
      </div>


      <br /><br />

      <div class="form-actions">
        <%= f.submit "Oppdatér Event", class: 'button' %>
      </div>
    <% end %>
  </div>
</center>
