<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1><br />

<%= link_to "Tilbake", events_path %>

<br />
<% @days.each_with_index do |day, i| %>
<strong>Dag <%= (i+1).to_i %></strong> <%= day.date %>
<% end %>
<br />
<br />

Kort oversikt:<br />
<%= image_tag @event.map.url(:messenger), class: 'event-image-mobile' if @event.map %>
