<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= @event.program_id %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @event.ticket %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
