<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Source:</strong>
  <%= @customer.source %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @customer.locale %>
</p>

<p>
  <strong>Profile pic url:</strong>
  <%= @customer.profile_pic_url %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @customer.timezone %>
</p>

<p>
  <strong>Messenger user:</strong>
  <%= @customer.messenger_user_id %>
</p>

<p>
  <strong>Chatfuel user:</strong>
  <%= @customer.chatfuel_user_id %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @customer.ref %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @customer.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @customer.longitude %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @customer.map_url %>
</p>

<p>
  <strong>Last visited block name:</strong>
  <%= @customer.last_visited_block_name %>
</p>

<p>
  <strong>Last visited block:</strong>
  <%= @customer.last_visited_block_id %>
</p>

<p>
  <strong>Last clicked button name:</strong>
  <%= @customer.last_clicked_button_name %>
</p>

<p>
  <strong>Last user freeform input:</strong>
  <%= @customer.last_user_freeform_input %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
