<p id="notice"><%= notice %></p>

<h4><b>ORDERS</b></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order #</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Date</th>
      <th>Last purchased item</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.first_name, order_path(order.id) %></td>
        <td><%= link_to order.last_name, order_path(order.id) %></td>
        <td><%= order.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
        <td><%= order.last_purchased_item %></td>
        <td>$ <%= order.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
