<p id="notice"><%= notice %></p>

<p>
  <strong>Last purchased item:</strong>
  <%= @order.last_purchased_item %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
