<div style="background: #162C4A" class="desktopHide">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <%= link_to root_path do %>
	    <%= image_tag ('/logo.png'), class: 'logo' %>
	  <% end %>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? %>
	    <li style="color:#f3f2f2;padding:18px">
	      Bruker-IDen din: <%= current_user.id %></li>
	    <li><%= link_to 'Events', events_path, class: 'btn-primary shadow'%></li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle btn-primary shadow" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meny <span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <li><%= link_to 'Foredragsholdere', speakers_path, class: 'btn-primary shadow'%></li>
	        <li><%= link_to 'Konto', edit_user_registration_path, class: 'btn-primary shadow' %></li>
	        <li><%= link_to 'Logg ut', destroy_user_session_path, method: :delete, class: 'btn-primary shadow' %></li>
	      </ul>
	    </li>
	    <% else %>
	    <li><%= link_to 'Opprett konto', new_user_registration_path, class: 'btn-primary shadow'%></li>
	    <li><%= link_to 'Logg inn', new_user_session_path, class: 'btn-primary shadow'%></li>
	    <% end %>


	  </ul>
	</div>
</div>

<div class="desktopHide" style="height:100%;"> 
	<center>
		<div style="position: absolute;width:100%;height:70%;padding-top:100px;margin: 0 auto;background-image: linear-gradient(#162C4A, #0052CC);z-index:5">
			<div class="row">
				<div class="col-xs-6">
					<h2 style="font-size:50px;color:#f3f2f2;width:100%;margin: 0 auto;padding-top:40px">Chatbots for arrangementer</h2>
					<h2 style="padding-top:30px;font-size:24px;width:100%;margin: 0 auto;background">
					<%= link_to 'Kom i gang', new_user_registration_path, class: 'btn-primary2 box shadow' %></h2>
				</div>
				<div class="col-xs-6">
					<center>
						<%= image_tag('/chatbot.png') %>
					</center>
				</div>
			</div>
		</div>
		<div id="particles-js" style="height:22%;bottom:0">
		</div>
	</center>
</div>


<div class="mobileHide"> 
	<center>
		<div style="width:100%;padding-top:20px;margin: 0 auto;background-image: linear-gradient(#162C4A, #0052CC)">

   		    <%= link_to root_path do %>
			    <%= image_tag ('/logo-white.png'), class: 'logo' %>
			<% end %><br /><br />
			<%= image_tag('/chatbot-small.png') %>
			<div class="row">
				<p style="font-size:30px;color:#f3f2f2;width:100%;margin: 0 auto;padding-top:20px">Chatbots for arrangementer</h2>
				<h2 style="font-size:16px">
				<div class="col-xs-6">
					<%= link_to 'Opprett konto', new_user_registration_path, class: 'btn-primary2 box shadow' %></p>
				</div>
				<div class="col-xs-6">
					<%= link_to 'Logg inn', new_user_session_path, class: 'btn-primary2 box shadow' %></p>
				</div>
			</div>
		</div>
	</center>
</div>
