<div class="desktopHide">
	<div class="header-top">
		<center>
			<div class="container">
			<h1 class="header-text""><%= I18n.t "landing1" %><br />
			 <%= I18n.t "landing2" %> <span style="color:#45909a"><%= I18n.t "landing3" %>.</span></h1>
			<%= I18n.t "landing4" %>.
		</div>
		<%= image_tag '/landing3.png' %></center>
	</div>
</div>


<div class="mobileHide" style="background: #E8F1EC;">
	<div class="header-top-mobile" style="">
		<%= image_tag '/landing3.png', class: 'mobile-pic' %>
		<div class="container" style="padding-left:10%;">
			<h1 class="header-text""><%= I18n.t "landing1" %><br />
			 <%= I18n.t "landing2" %> <span style="color:#45909a"><%= I18n.t "landing3" %>.</span></h1>
			<%= I18n.t "landing4" %>.
		</div>
	</div>


</div>
