<div class="desktopHide">
	<div class="header-top">
		<center><%= image_tag '/real7.jpg', class: 'pull-right' %></center>
		<div class="container" style="padding-left:10%;">
			<h1 class="header-text"">We'll build you<br />
			 an unfair <span style="color:#45909a">advantage.</span></h1>
			That works with Facebook Messenger.
		</div>
	</div>


	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real8.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text">That advantage is<br />
					called <span style="color:#45909a">AI.</span></h1>
					Mixed with social media... you couldn't be more dangerous!
				</div>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container" style="padding-left:10%;">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text-2">We send the leads.<br />
					You close the <span style="color:#45909a">deals.</span></h1>
					That's it. We do what we're best at, and you do the same.
				</div>
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real6.png' %></center>
				</div>
			</div>
		</div>
	</div>

	<center>
		<div class="header-top">
			<div class="container" style="width: 60%">
				<h2>There are too many half-assed agencies in this world... </h2><br /><br /><br />
				<form action="https://www.jonaspreisler.com/"">
				    <input type="submit" value="Go with a&#x00A; professional!", class="big-btn2" />
				</form>
			</div>
		</div>
	</center>
</div>

<div class="mobileHide" style="background: #E8F1EC;">
	<div class="header-top-mobile" style="">
		<%= image_tag '/real7.jpg', class: 'mobile-pic' %>
		<div class="container" style="padding-left:10%;">
			<h1 class="header-text"">We'll build you<br />
			 an unfair <span style="color:#45909a">advantage.</span></h1>
			With the magic of Facebook Messenger.
		</div>
	</div>


	<div class="header-top-mobile">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real8.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text" style="padding-left:10%;">That advantage is<br />
					called <span style="color:#45909a">AI.</span></h1>
					Mixed with social media... you couldn't be more dangerous!
				</div>
			</div>
		</div>
	</div>

	<div class="header-top-mobile" style="margin-top: 120px;background: #E8F1EC;padding-bottom:50px">
		<div class="container" style="padding-left:10%;">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real6.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text">We send the leads.<br />
					You close the <span style="color:#45909a">deals.</span></h1>
					That's it. We do what we're best at, and you do the same.
				</div>
			</div>
		</div>
	</div>

	<center>
		<div class="header-top">
			<div class="container">
				<h2>There are too many half-assed agencies in this world... </h2><br /><br />
				<form action="https://www.jonaspreisler.com/"">
				    <input type="submit" value="Go with a&#x00A; professional!", class="big-btn2" />
				</form>
				<br />
			</div>
		</div>
	</center>
</div>
