<div class="desktopHide">
	<div class="header-top">
		<center><%= image_tag '/real7.jpg', class: 'pull-right' %></center>
		<div class="container" style="padding-left:10%;">
			<h1 class="header-text""><%= I18n.t "landing1" %><br />
			 <%= I18n.t "landing2" %> <span style="color:#45909a"><%= I18n.t "landing3" %>.</span></h1>
			<%= I18n.t "landing4" %>.
		</div>
	</div>


	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real8.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text"><%= I18n.t "landing5" %><br />
					<%= I18n.t "landing6" %> <span style="color:#45909a">AI.</span></h1>
					<%= I18n.t "landing7" %>
				</div>
			</div>
		</div>
	</div>

	<div class="header-top">
		<div class="container" style="padding-left:10%;">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text-2"><%= I18n.t "landing8" %>.<br />
					<%= I18n.t "landing9" %> <span style="color:#45909a"><%= I18n.t "landing10" %>.</span></h1>
					<%= I18n.t "landing11" %>.
				</div>
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real6.png' %></center>
				</div>
			</div>
		</div>
	</div>

	<center>
		<div class="header-top">
			<div class="container" style="width: 60%">
				<h2><%= I18n.t "landing12" %>... </h2><br /><br /><br />
				<form action="http://jonaspreisler.com">
				    <input type="submit" value="Go with a&#x00A;professional!" class="big-btn" />
				</form>
			</div>
		</div>
	</center>
</div>

<div class="mobileHide" style="background: #E8F1EC;">
	<div class="header-top-mobile" style="">
		<%= image_tag '/real7.jpg', class: 'mobile-pic' %>
		<div class="container" style="padding-left:10%;">
			<h1 class="header-text""><%= I18n.t "landing1" %><br />
			 <%= I18n.t "landing2" %> <span style="color:#45909a"><%= I18n.t "landing3" %>.</span></h1>
			<%= I18n.t "landing4" %>.
		</div>
	</div>


	<div class="header-top-mobile">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real8.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text" style="padding-left:10%;"><%= I18n.t "landing5" %><br />
					<%= I18n.t "landing6" %> <span style="color:#45909a">AI.</span></h1>
					<%= I18n.t "landing7" %>
				</div>
			</div>
		</div>
	</div>

	<div class="header-top-mobile" style="margin-top: 120px;background: #E8F1EC;padding-bottom:50px">
		<div class="container" style="padding-left:10%;">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<center><%= image_tag '/real6.png' %></center>
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="header-text"><%= I18n.t "landing8" %>.<br />
					<%= I18n.t "landing9" %> <span style="color:#45909a"><%= I18n.t "landing10" %>.</span></h1>
					<%= I18n.t "landing11" %>.
				</div>
			</div>
		</div>
	</div>
	<center>
		<div class="header-top">
			<div class="container">
				<h2><%= I18n.t "landing12" %>... </h2><br /><br />
				<form action="http://jonaspreisler.com">
				    <input type="submit" value="Go with a&#x00A;professional!" class="big-btn2" />
				</form><br />
			</div>
		</div>
	</center>

</div>
