<div class="nested-fields">
  <center>
    <div style="background: #f3f2f2;border-radius:10px;color:#1c1c1c" class="speaker-form">
      <%= f.hidden_field :user_id, :value=> current_user.id  %>
      <%= f.hidden_field :event_id, :value=> @event.id  %>

      <div class="mobileHide">
        <div class="form-inputs">

          <%= f.input :name, placeholder: 'Foredragsholder navn', label: false, class: "form-control" %><br />
          <%= f.text_area :description, placeholder: 'Om foredragsholderen', label: false, :rows => 5, class: "form-control" %><br />
          <br />

          Velg plassen i raden:

          <%= f.select :sorting_id, @sortings.collect {|c| [c.id]} %>


          <br /><br />
          <strong>Bilde (500x260px):</strong><br /><%= f.file_field :image %><br />

        </div>
        <br />
      </div>

      <div class="desktopHide">
        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :name, placeholder: 'Navn', label: false, class: "form-control" %><br />
              <%= f.text_area :description, placeholder: 'Om foredragsholderen', label: false, :rows => 7, class: "form-control" %><br />

              <br />
              <strong>Foredragsholder bilde:</strong><br /><%= f.file_field :image %><br />
            </div>
            <div class="col-xs-6">


          Velg plassen i raden:

          <%= f.select :sorting_id, @sortings.collect {|c| [c.id]} %>



            </div>
          </div>


        </div>

      </div>

    </div>
  </center>
</div>