<p id="notice"><%= notice if user_signed_in? %></p>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="speaker-form">
  
  <div class="pull-right">
    <%= link_to 'Redigér program', edit_event_day_program_path(@event, @day, @program), class: 'btn-green-events box' if user_signed_in? and current_user.id == @program.user_id %> 
    <%= link_to 'Slett program', event_day_program_path(@program),
  data: {:confirm => 'Er du sikker? Dette kan ikke fortrydes.'}, :method => :delete, class: 'box btn-red-events' if user_signed_in? and current_user.id == @program.user_id %>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 speaker">

      <p>
        <strong style="font-size: 26px"><%= @program.name %></strong><br />
        <i style="font-size:14px">
          <strong><%= @program.name %></strong><br />
          <%= @program.day.date.strftime("%A, %d. %B") %><br />
        Kl. <%= @program.starttime.strftime("%H") %> - <%= @program.endtime.strftime("%H") %></i>
      </p>
      <center>

        <p>
          <% if @program.image? %>
            <%= image_tag @program.image.url(:messenger), class: 'image-border' %>
          <% else %>
            <%= image_tag '/thumbnail.png', class: 'speaker-image' %>
          <% end %>
        </p>


      </center>
    </div>
    <div class="col-md-6 col-sm-6">
      
      <p><strong style="font-size: 26px">Om programmet:</strong><br />
        <%= @program.description %>
      </p>

      <p><strong style="font-size: 26px"><%= "Om foredragsholderen:" if @program.speakers.count < 2 %><%= "Om foredragsholderne" if @program.speakers.count > 1 %></strong><br />
        <p>
        <% @speakers.each do |speaker| %>
          <strong><%= speaker.name %></strong><br />
          <%= speaker.description %><br />
          <% if speaker.image? %>
            <%= image_tag speaker.image.url(:messenger), class: 'image-border' %> <br /><br />
          <% else %>
            <%= image_tag '/thumbnail.png', class: 'speaker-image' %>

          <% end %>
        <% end %>
      </p>
      </p>




    </div>
  </div>
</div>