
<% @wp_postmeta.each do |postmeta| %>
	<% if @wp_post.id == postmeta.post_id %>
		<%= @wp_post.post_title.upcase %>
	<% end %>
<% end %>

<span style="font-size: 20px;padding-left:15%;"><%= link_to 'â† Back', root_path %></span>
<div class="container only-desktop" style="width: 70%;padding-top: 20px;">
  <div class="row">
    <div class="col-xs-6 col-md-6"><br />
      <%= image_tag '/logo.png' %>
    </div>
    <div class="col-xs-6 col-md-6">
      <h3 class="card-title"><%= @wp_post.post_title %></h3>
      <h4>Category: <%= @wp_post.post_title %></h4><br />
      <%= @wp_post.post_title %>
    </div>

  </div><br /><br />
  <strong><%= @wp_post.post_title %></strong><br />
  <%= @wp_post.post_content %>
</div>



<div class="container only-mobile">
  <div class="row">
    <div class="col-lg-9">
      <div class="card mt-4"><br /><br />
        <%= image_tag '/logo.png' %>
        <div class="card-body">
          <center>
            <h3 class="card-title"><%= @wp_post.post_title %></h3>
            <h4>Category: <%= @wp_post.post_title %></h4><br />
            <%= @wp_post.post_title %><br /><br /><br />
           <strong>:<%= @wp_post.post_title %>"</strong><br />
            <p class="card-text">
            	<%= @wp_post.post_content %>
            </p>
          </center>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
