<p id="notice"><%= notice %></p>

<p>
  <strong>Speaker:</strong>
  <%= @speaker_image.speaker_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @speaker_image.image %>
</p>

<%= link_to 'Edit', edit_speaker_image_path(@speaker_image) %> |
<%= link_to 'Back', speaker_images_path %>
