<p id="notice"><%= notice %></p>

<h1>Days</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <%= day.id %>
        <td><%= day.event.name %></td>
        <td><%= day.date %></td>
        <td><%= day.program_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day', new_event_day_path %>
