<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @day.event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Program:</strong>
  <%= @day.program_id %>
</p>

<%= link_to 'New Program', new_event_day_program_path %>