<p id="notice"><%= notice if user_signed_in? %></p>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="product-form">
  <center>
  <div class="row">
    <div class="col-md-6 col-sm-6 product">
      <p>
        <strong>Titel:</strong><br />
        <%= @product.title %>
      </p>

      <p>
        <strong>Pris:</strong><br />
        DKK <%= number_with_delimiter(@product.price, :delimiter => '.') %>
      </p>

      <p>
        <strong>Beskrivelse:</strong><br />
        <%= @product.description %>
      </p>

      <p>
        <strong>Link:</strong><br />
        <%= @product.product_link %>
      </p>

      <%= link_to I18n.t('edit2'), edit_product_path(@product), class: 'btn-primary box' if user_signed_in? and current_user.id == @product.user_id %> 
      <%= link_to I18n.t('delete2'), product_path(@product),
      data: {:confirm => I18n.t('confirm')}, :method => :delete, class: 'box btn-red' if user_signed_in? and current_user.id == @product.user_id %>
    </div>
    <div class="col-md-6 col-sm-6">
      <center>

        <p>
          <% @product_images.each do |p| %><br />
          <%= image_tag p.image_url(:view), class: 'image-border' %> 
          <%= link_to I18n.t('delete3'), product_image_path(p), :method => :delete if user_signed_in? and current_user.id == @product.user_id %><br />
        <% end %>
        </p>

        <%= simple_form_for(@product, :html => { :multipart => true }) do |f| %>

          <br />

          <div class="links">
            <%= link_to_add_association I18n.t('addimage'), f, :product_images, class: 'add-image' if user_signed_in? and current_user.id == @product.user_id %>
            <div class="mobileHide" style="padding-bottom: 20px;"> </div>
             <%= f.submit 'Upload', class: 'button' if user_signed_in? and current_user.id == @product.user_id %>
          </div>
        <% end %>
      </center>

    </div>
  </div>
  </center>
</div>