


<center>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;margin-top:20px" class="speaker-form">
<h1>Ny speaker</h1><br />
  <%= simple_form_for(@speaker, :html => { :multipart => true }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.hidden_field :user_id, :value=> current_user.id  %>

    <div class="mobileHide">
      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Navn', label: false, class: "form-control" %><br />
        <%= f.input :title, placeholder: 'Tale tema', label: false, class: "form-control" %><br />
        <%= f.input :description, placeholder: 'Om speakeren', label: false, class: "form-control" %><br />
        <br />
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3" aria-describedby="basic-addon3"><%= I18n.t "currency" %> </span>
        <%= f.input :sorting, placeholder: 'Sortering', label: false, class: "form-control" %><br />
        </div><br />

        <strong>Billede:</strong><br /><%= f.file_field :image %><br />

        <br />
        <div style="position: relative">
          <div class="box2">
          <%= text_field_tag("speaker[date]", value = @speaker.date, html_options = { class: 'form-control datepicker', placeholder: 'Seleccione fecha' }) %>
          </div>
          <br />
          <br />

          <div class="box2">
            <%= text_field_tag("speaker[time]", value = @speaker.time&.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'Seleccionar hora' }) %>
          </div>
        </div>  

        <br />
      </div>
      <br />

      <div class="form-actions">
        <%= f.submit 'Opret speaker', class: 'button' %>
      </div>
    </div>

    <div class="desktopHide">
      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Navn', label: false, class: "form-control" %><br />
        <%= f.input :title, placeholder: 'Tale tema', label: false, class: "form-control" %><br />
        <%= f.input :description, placeholder: 'Om speakeren', label: false, class: "form-control" %><br />
        <%= f.input :sorting, placeholder: 'Sortering', label: false, class: "form-control" %><br />
        <br />

        <div class="row">
          <div class="col-md-4 col-xs-6">

            <div class="box2">
            <%= text_field_tag("speaker[date]", value = @speaker.date, html_options = { class: 'form-control datepicker', placeholder: 'Velg dato' }) %>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">

            <div class="box2">
              <%= text_field_tag("speaker[time]", value = @speaker.time&.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'Velg tid' }) %>
            </div>
          </div>
        </div>  



        <strong>Billede:</strong><br /><%= f.file_field :image %><br />




        <br />
      </div>
      <br />

      <div class="form-actions">
        <%= f.submit 'Opret speaker', class: 'button' %>
      </div>
    </div>
  <% end %>

</div>
</center>