<p id="notice"><%= notice %></p>
<div class="row">
    
  <div class="desktopHide">
    <div class="col-md-6 col-sm-6">
      <h1>Foredragsholdere</h1>
    </div>
  </div>

  <div class="mobileHide">
    <center>
      <h1>Foredragsholdere</h1><br />
  </div>
</div>

<% unless current_user.speakers.any? %>
<div style="font-size:20px;text-align: center;padding-top:30px;"><%= I18n.t "nospeaker" %> </div>
<% else %>

<br />
<div class="row" style="background: #fff;padding:15px;border-radius:10px;color:#1c1c1c;">
<center><h2>Rad 1</h2></center>
<br />

<% @speakers.each do |speaker| %>
  <% if current_user.id == speaker.user_id %>
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <% if speaker.image? %>
          <%= link_to (image_tag speaker.image.url(:messenger)), speaker, class: 'speaker-image' %>
        <% else %>
          <%= link_to (image_tag '/thumbnail.png'), speaker, class: 'speaker-image' %>
        <% end %>
        <div class="caption">
          <h4 style="font-size:16px;"><%= speaker.sorting %> <br />
            <div style="padding-top: 5px"><%= link_to truncate(speaker.name, :length => 22), speaker, class: 'shorten' %>
            </div>
          </h4>
          <div style="padding-top: 5px">Program: <%= link_to speaker.program.name, speaker.program %></div>
        </div>
        
            <%= link_to "Vis", speaker_path(speaker), class: 'btn-green box' %>
            <%= link_to "Redigér", edit_speaker_path(speaker), class: 'btn-green box' %>
          <%#div class="col-xs-8 col-sm-6">
            <% &#9889; rating %>
          <%#/div>
          <%#div class="col-xs-4 col-sm-6"%>
          <%#/div%>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<% if @speakers_2.any? %>
  <hr>
  <div class="row">
  <center><h2>Rad 2</h2></center>
  <br />
  <% @speakers_2.order('sorting ASC').each do |speaker| %>
    <% if current_user.id == speaker.user_id %>
      <div class="col-md-3 col-sm-4">
        <div class="thumbnail">
          <% if speaker.image? %>
            <%= link_to (image_tag speaker.image.url(:messenger)), speaker, class: 'speaker-image' %>
          <% else %>
            <%= link_to (image_tag '/thumbnail.png'), speaker, class: 'speaker-image' %>
          <% end %>
          <div class="caption">
            <div class="row">
              <div class="col-sm-6 col-sm-4 col-xs-6">
                <h4 style="font-size:16px"> <br /> 
                <div style="padding-top: 5px"><%= link_to truncate(speaker.name, :length => 22), speaker, class: 'shorten' %>
                </div></h4>
              </div>
              <div class="col-sm-6 col-sm-4 col-xs-6">
              </div>
            </div>
          </div>
          <div class="panel-footer">
              <%= link_to "Vis", speaker_path(speaker), class: 'btn-green box' %>
              <%= link_to "Redigér", edit_speaker_path(speaker), class: 'btn-green box' %>
            <%#div class="col-xs-8 col-sm-6">
              <% &#9889; rating %>
            <%#/div>
            <%#div class="col-xs-4 col-sm-6"%>
          </div>
            <%#/div%>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
<br />
<% end %>
