<p id="notice"><%= notice if user_signed_in? %></p>
<div style="background: #f3f2f2;padding:15px;border-radius:10px;color:#1c1c1c;" class="speaker-form">
  <div class="row">
    <div class="col-md-6 col-sm-6 speaker">

      <p>
        <strong style="font-size: 26px"><%= @speaker.name %></strong><br />
      </p>
      <center>

      <p>
        <% if @speaker.image? %>
          <%= image_tag @speaker.image.url(:messenger), class: 'image-border' %>
        <% else %>
          <%= link_to (image_tag '/thumbnail.png'), @speaker, class: 'speaker-image' %>
        <% end %>
      </p>
      <%= link_to 'Redigér', edit_speaker_path(@speaker), class: 'btn-primary box' if user_signed_in? and current_user.id == @speaker.user_id %> 
      <%= link_to 'Slet speaker', speaker_path(@speaker),
      data: {:confirm => 'Bekræft'}, :method => :delete, class: 'box btn-red' if user_signed_in? and current_user.id == @speaker.user_id %>

      </center>
    </div>
    <div class="col-md-6 col-sm-6">
      
      <p><strong>Om:</strong><br />
        <%= @speaker.description %>
      </p>
      



    </div>
  </div>
</div>