<nav>
  <div class="nav-wrapper">
    <%= image_tag '/logo.png', class: 'logo' %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Bedrifter', businesses_path, class: 'waves-effect waves-light btn z-depth-3' %></li>
      <li><%= link_to 'Bestillinger', orders_path, class: 'waves-effect waves-light btn z-depth-3' %></li>
      <li><%= link_to 'Logg inn/Registrér', new_user_registration_path, class: 'waves-effect waves-light btn z-depth-3' %></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
  <li><%= link_to 'Businesses', businesses_path, class: 'waves-effect waves-light btn' %></li>
</ul>
      