<!DOCTYPE html>
<html>
  <head>
    <title>Ebot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="bg z-depth-2">
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
